.banner {
    height: 22rem;
    background-color: var(--black);
    background-image: url("../img/drwho-banner.jpg");
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    row-gap: 1rem;
    padding: 0 9.5rem 2rem 9.5rem;
}

.banner__title {
    font-style: normal;
    font-weight: 700;
    font-size: 3.25rem;
    line-height: 3.813rem;
}

.banner__text {
    font-style: normal;
    font-weight: 700;
    font-size: 1.375rem;
    line-height: 1.625rem;
}
