:root {
    --black: #464646;
    --blue: #2A7AE4;
    --dark-grey: #A2A2A2;
    --light-blue: #EAF2FD;
    --light-grey: #F5F5F5;
    --white: #FFFFFF;

    --font-family-raleway: 'Raleway', sans-serif;

    font-family: var(--font-family-raleway);
    width: 100%;
}