:root {
    --black: #464646;
    --blue: #2A7AE4;
    --dark-grey: #A2A2A2;
    --neon-orange: #FF6700;
    --light-blue: #EAF2FD;
    --light-grey: #F5F5F5;
    --white: #FFFFFF;

    --font-family-raleway: 'Raleway', sans-serif;

    font-family: var(--font-family-raleway);
    width: 100vw;
}

.logo {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: bolder;
    line-height: 1.188rem;
}

.logo__gamepad {
    color: var(--blue);
}

.logo__camd {
    color: var(--blue);
}

.no-decor {
    color: var(--black);
    text-decoration: none;
}