.transparent-btn {
    border: 1px solid var(--blue);
    box-sizing: border-box;
    color: var(--blue);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    height: 3.188rem;
    line-height: 1.188rem;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
}

.blue-btn {
    background-color: var(--blue);
    box-sizing: border-box;
    color: var(--white);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    height: 3.188rem;
    line-height: 1.188rem;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
}