.info {
    background-color: var(--light-blue);
    box-sizing: border-box;
    display: flex;
    height: 23rem;
    justify-content: space-between;
    padding: 4rem 9.5rem 4rem 9.5rem;
}

.info__item {
    margin-bottom: 1.5rem;
}

.info__contact {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(4, auto);
    row-gap: 1rem;
    width: 35rem;
}

.info__contact-title {
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;   
    line-height: 1.1875rem;  
    height: 1.1875rem;
    margin-bottom: 1rem;
}

.info__contact-name {
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: var(--font-family-raleway);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    height: 3.5rem;
    line-height: 1.25rem;
    outline: none;
    padding: 1.375rem 0.5rem;
    width: 100%;
}

.info__contact-message {
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: var(--font-family-raleway);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    height: 5.125rem;
    line-height: 1.25rem;
    outline: none;
    padding: 1.375rem 0.5rem;
    resize: none;
    width: 100%;
}

.info__contact-btn {
    border: none;
    font-family: var(--font-family-raleway);
}

.author {
    align-items: center;
    background-color: var(--white);
    display: flex;
    height: 6.375rem;
    justify-content: center;
    text-align: center;
}

.author__text {
    color: var(--black);
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.188rem;
}