.header {
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center ;
    height: 7.188rem;
    padding: 0 9.5rem 0 9.5rem;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:  37.563rem;
    height: 3.125rem;
}

.header__logo {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: bolder;
    line-height: 1.188rem;
}

.header__gamepad {
    color: var(--blue);
}

.header__camd {
    color: var(--blue);
}

.header__btn {
    border: 1px solid var(--blue);
    box-sizing: border-box;
    color: var(--blue);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    height: 3.188rem;
    line-height: 1.188rem;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    width: 9.5rem;
}