.main {
    background-color: var(--light-grey);
    padding-bottom: 4rem;
}

.products {
    display: grid;
    grid-template-areas: "title    link" 
                         "products products";
    padding: 4rem 9.5rem 0 9.5rem;
    row-gap: 1rem;
}

.category-title {
    align-self: center;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    grid-area: title;
    line-height: 2.375rem;
}

.products__link {
    align-self: center;
    grid-area: link;
    justify-self: end;
}

.products__link-text {
    display: inline;
}

.products__link-text, .products__link-arrow {
    color: var(--blue);
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.188rem;
}

/* .products__container {
    display: grid;
    grid-area: products;
    grid-template-columns: auto auto auto auto auto;
    justify-content: space-between;
    row-gap: 2rem;
}

.products__product {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    overflow: hidden;
    row-gap: 0.5rem;
}

.img-container {
    background-color: var(--white);
    display: flex;
    align-items: center;
    height: 174px;
    overflow: hidden;
    width: 176px;
}

.product__img {
    width: 100%;
}

.product__description {
    color: var(--black);
    font-size: 0.875;
    font-style: normal;
    font-weight: 500;
    line-height: 1rem;
}

.product__price {
    color: var(--black);
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.188rem;
}

.product__link {
    color: var(--blue);
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.188rem;
} */