.main {
    background-color: var(--light-grey);
    padding-bottom: 4rem;
}

.products {
    display: grid;
    grid-template-areas: "title    link" 
                         "products products";
    padding: 4rem 9.5rem 0 9.5rem;
    row-gap: 1rem;
}

.category-title {
    align-self: center;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    grid-area: title;
    line-height: 2.375rem;
}

.products__link {
    align-self: center;
    grid-area: link;
    justify-self: end;
}

.products__link-text {
    display: inline;
}

.products__link-text, .products__link-arrow {
    color: var(--blue);
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.188rem;
}

.product__remove-edit {
    display: none;
}