.header__btn {
    display: none;
}

.main-container {
    background-color: var(--light-grey);
    padding: 5.688rem;
}

.login {
    display: flex;
    justify-content: center;
}

.login__fields {
    display: grid;
    grid-template-columns: auto;
   /* grid-template-rows: repeat(3, 3.938rem);*/
    grid-template-rows: auto;
    row-gap: 1.5rem;
    width: 26.438rem;
}

.login__title {
    color: var(--black);
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.313rem;
    margin-bottom: 1rem;
    text-align: center;
}

.login__email, .login__password, .login__btn {
    height: 3.938rem;
}