.main-container {
    background-color: var(--light-grey);
    padding: 4rem 0 4rem 0;
}

.product__fields {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto ;
    row-gap: 1rem;
    width: 34.938rem;
    margin: 0 auto;
}

.product__title {
    color: var(--black);
    font-family: var(--font-family-raleway);
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.375rem;
    margin-bottom: 1rem;
}

.product__img, .product__category, .product__name, 
.product__price, .product__description {
    color: var(--black);
    font-family: var(--font-family-raleway);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
}

.product__img, .product__category, .product__name, 
.product__price {
    height: 3.5rem;
}

.product__description {
    height: 5.125rem;
}