.header__btn {
    display: none;
}

.main-container {
    background-color: var(--light-grey);
    padding: 4rem 9.5rem;
}

.products {
    display: grid;
    grid-template-areas: "title    link" 
                         "products products";
    row-gap: 1.406rem;
}

.category-title {
    color: var(--black);
    font-family: var(--font-family-raleway);
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    grid-area: title;
    line-height: 2.375rem;
}

.products__link {
    grid-area: link;
    justify-self: end;
    width: 10.188rem;
}