.products__container {
    display: grid;
    grid-area: products;
    grid-template-columns: repeat(5, auto);
    justify-content: space-between;
    row-gap: 2rem;
}

.products__product {
    display: grid;
    grid-template-columns: 11rem;
    grid-template-rows: repeat(4, auto);
    row-gap: 0.5rem;
}

.img-container {
    align-items: center;
    background-color: var(--white);
    display: flex;
    height: 10.875rem;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.product__img {
    width: 100%;
}

.product__description {
    color: var(--black);
    font-family: var(--font-family-raleway);
    font-size: 0.875;
    font-style: normal;
    font-weight: 500;
    line-height: 1rem;
}

.product__price {
    color: var(--black);
    font-family: var(--font-family-raleway);
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.188rem;
}

.product__link {
    color: var(--blue);
    font-family: var(--font-family-raleway);
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.188rem;
}

.product__remove-edit {
    font-size: 1.188rem;
    position: absolute;
    right: 5%;
    top: 5%;
}

.remove-icon, .edit-icon {
    color: var(--neon-orange);
}