/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .header {
        height: 4.5rem;
        padding: 1rem 2rem;
    }

    .header__container {
        height: 2.5rem;
        width:  25.25rem;
    }

    .header__search {
        height: 2.5rem;
        width: 17rem;
    }

    .login-btn {
        width: 10.375rem;
    }

    .transparent-btn {
        font-weight: 600;
        line-height: 1rem;
        padding: 0.75rem 1rem;
        height: 2,5rem;
        font-size: 0.875rem;
    }
}