/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .info {
        height: 34.563rem;
        justify-items: center;
        padding: 1rem;

        display: grid;
        grid-template-areas: "logo" 
                             "list"
                             "form";
    }

    .logo {
        grid-area: logo;
    }

    .info__list {
        display: grid;
        grid-area: list;
        grid-template-columns: auto;
        grid-template-rows: repeat(6, auto);
        row-gap: 1.5rem;
    }

    .info__item {
        margin-bottom: 0;
    }

    .info__form {
        grid-area: form;
    }

    .info__contact {
        width: 20.5rem;
    }
}