/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .header {
        height: 4.5rem;
        padding: 1rem;
    }

    .header__container {
        width:  7rem;
    }

    .header__search {
        display: none;
    }

    .header__buttons-container {
        display: flex;
        align-items: center;
    }

    .login-btn {
        width: 8.313rem;
    }

    .buttons-container__search-button {
        color: var(--black);
        display: block;
        margin-left: 2rem;
    }
}