/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .main-container {
        padding: 4.75rem 2.813rem;
    }

    .login__fields {
        width: 17.188rem;
    }

    .login__email, .login__password, .login__btn {
        height: 2.563rem;
    }


    .login__btn {
        width: 6.813rem;
        justify-self: center;
    }
}