/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .main-container {
        padding: 1rem;
    }

    .products {
        grid-template-areas: "title    title"
                             "link     link" 
                             "products products";
        row-gap: 1rem;
    }

    .products__link {
        justify-self: start;
    }
}